<!-- Dependency versions -->
<activemq.version>5.14.5</activemq.version>
<antlr2.version>2.7.7</antlr2.version>
<appengine-sdk.version>1.9.60</appengine-sdk.version>
<artemis.version>1.5.5</artemis.version>
<aspectj.version>1.8.13</aspectj.version>
<assertj.version>2.6.0</assertj.version>
<atomikos.version>3.9.3</atomikos.version>
<bitronix.version>2.1.4</bitronix.version>
<caffeine.version>2.3.5</caffeine.version>
<cassandra-driver.version>3.1.4</cassandra-driver.version>
<classmate.version>1.3.4</classmate.version>
<commons-beanutils.version>1.9.3</commons-beanutils.version>
<commons-collections.version>3.2.2</commons-collections.version>
<commons-codec.version>1.10</commons-codec.version>
<commons-dbcp.version>1.4</commons-dbcp.version>
<commons-dbcp2.version>2.1.1</commons-dbcp2.version>
<commons-digester.version>2.1</commons-digester.version>
<commons-pool.version>1.6</commons-pool.version>
<commons-pool2.version>2.4.3</commons-pool2.version>
<couchbase-client.version>2.3.7</couchbase-client.version>
<couchbase-cache-client.version>2.1.0</couchbase-cache-client.version>
<crashub.version>1.3.2</crashub.version>
<derby.version>10.13.1.1</derby.version>
<dom4j.version>1.6.1</dom4j.version>
<dropwizard-metrics.version>3.1.5</dropwizard-metrics.version>
<ehcache.version>2.10.4</ehcache.version>
<ehcache3.version>3.2.3</ehcache3.version>
<embedded-mongo.version>1.50.5</embedded-mongo.version>
<flyway.version>3.2.1</flyway.version>
<freemarker.version>2.3.27-incubating</freemarker.version>
<elasticsearch.version>2.4.6</elasticsearch.version>
<gemfire.version>8.2.8</gemfire.version>
<glassfish-el.version>3.0.0</glassfish-el.version>
<gradle.version>2.9</gradle.version>
<groovy.version>2.4.13</groovy.version>
<gson.version>2.8.2</gson.version>
<h2.version>1.4.196</h2.version>
<hamcrest.version>1.3</hamcrest.version>
<hazelcast.version>3.7.8</hazelcast.version>
<hazelcast-hibernate4.version>3.7.1</hazelcast-hibernate4.version>
<hazelcast-hibernate5.version>1.1.3</hazelcast-hibernate5.version>
<hibernate.version>5.0.12.Final</hibernate.version>
<hibernate-validator.version>5.3.6.Final</hibernate-validator.version>
<hikaricp.version>2.5.1</hikaricp.version>
<hikaricp-java6.version>2.3.13</hikaricp-java6.version>
<hikaricp-java7.version>2.4.13</hikaricp-java7.version>
<hsqldb.version>2.3.5</hsqldb.version>
<htmlunit.version>2.21</htmlunit.version>
<httpasyncclient.version>4.1.3</httpasyncclient.version>
<httpclient.version>4.5.5</httpclient.version>
<httpcore.version>4.4.9</httpcore.version>
<infinispan.version>8.2.8.Final</infinispan.version>
<jackson.version>2.8.10</jackson.version>
<janino.version>2.7.8</janino.version>
<javassist.version>3.21.0-GA</javassist.version> <!-- Same as Hibernate -->
<javax-cache.version>1.0.0</javax-cache.version>
<javax-mail.version>1.5.6</javax-mail.version>
<javax-transaction.version>1.2</javax-transaction.version>
<javax-validation.version>1.1.0.Final</javax-validation.version>
<jaxen.version>1.1.6</jaxen.version>
<jaybird.version>2.2.14</jaybird.version>
<jboss-logging.version>3.3.1.Final</jboss-logging.version>
<jboss-transaction-spi.version>7.6.0.Final</jboss-transaction-spi.version>
<jdom2.version>2.0.6</jdom2.version>
<jedis.version>2.9.0</jedis.version>
<jersey.version>2.25.1</jersey.version>
<jest.version>2.0.4</jest.version>
<jetty.version>9.4.8.v20171121</jetty.version>
<jetty-jsp.version>2.2.0.v201112011158</jetty-jsp.version>
<jetty-el.version>8.0.33</jetty-el.version>
<jms-api.version>1.1-rev-1</jms-api.version>
<jmustache.version>1.13</jmustache.version>
<jna.version>4.2.2</jna.version>
<joda-time.version>2.9.9</joda-time.version>
<jolokia.version>1.3.7</jolokia.version>
<jooq.version>3.9.6</jooq.version>
<json.version>20140107</json.version>
<jsonassert.version>1.4.0</jsonassert.version>
<json-path.version>2.2.0</json-path.version>
<jstl.version>1.2</jstl.version>
<jtds.version>1.3.1</jtds.version>
<junit.version>4.12</junit.version>
<liquibase.version>3.5.3</liquibase.version>
<log4j2.version>2.7</log4j2.version>
<logback.version>1.1.11</logback.version>
<lombok.version>1.16.20</lombok.version>
<mariadb.version>1.5.9</mariadb.version>
<mssql-jdbc.version>6.1.0.jre7</mssql-jdbc.version>
<mockito.version>1.10.19</mockito.version>
<mongodb.version>3.4.3</mongodb.version>
<mysql.version>5.1.45</mysql.version>
<narayana.version>5.5.31.Final</narayana.version>
<nekohtml.version>1.9.22</nekohtml.version>
<neo4j-ogm.version>2.1.6</neo4j-ogm.version>
<postgresql.version>9.4.1212.jre7</postgresql.version>
<querydsl.version>4.1.4</querydsl.version>
<reactor.version>2.0.8.RELEASE</reactor.version>
<reactor-spring.version>2.0.7.RELEASE</reactor-spring.version>
<selenium.version>2.53.1</selenium.version>
<selenium-htmlunit.version>2.21</selenium-htmlunit.version>
<sendgrid.version>2.2.2</sendgrid.version>
<servlet-api.version>3.1.0</servlet-api.version>
<simple-json.version>1.1.1</simple-json.version>
<slf4j.version>1.7.25</slf4j.version>
<snakeyaml.version>1.17</snakeyaml.version>
<solr.version>5.5.5</solr.version>
<spock.version>1.0-groovy-2.4</spock.version>
<spring.version>4.3.14.RELEASE</spring.version>
<spring-amqp.version>1.7.6.RELEASE</spring-amqp.version>
<spring-cloud-connectors.version>1.2.5.RELEASE</spring-cloud-connectors.version>
<spring-batch.version>3.0.8.RELEASE</spring-batch.version>
<spring-data-releasetrain.version>Ingalls-SR10</spring-data-releasetrain.version>
<spring-hateoas.version>0.23.0.RELEASE</spring-hateoas.version>
<spring-integration.version>4.3.14.RELEASE</spring-integration.version>
<spring-integration-java-dsl.version>1.2.3.RELEASE</spring-integration-java-dsl.version>
<spring-kafka.version>1.1.7.RELEASE</spring-kafka.version>
<spring-ldap.version>2.3.2.RELEASE</spring-ldap.version>
<spring-loaded.version>1.2.8.RELEASE</spring-loaded.version>
<spring-mobile.version>1.1.5.RELEASE</spring-mobile.version>
<spring-plugin.version>1.2.0.RELEASE</spring-plugin.version>
<spring-restdocs.version>1.1.3.RELEASE</spring-restdocs.version>
<spring-retry.version>1.2.2.RELEASE</spring-retry.version>
<spring-security.version>4.2.4.RELEASE</spring-security.version>
<spring-security-jwt.version>1.0.9.RELEASE</spring-security-jwt.version>
<spring-security-oauth.version>2.0.14.RELEASE</spring-security-oauth.version>
<spring-session.version>1.3.1.RELEASE</spring-session.version>
<spring-social.version>1.1.4.RELEASE</spring-social.version>
<spring-social-facebook.version>2.0.3.RELEASE</spring-social-facebook.version>
<spring-social-linkedin.version>1.0.2.RELEASE</spring-social-linkedin.version>
<spring-social-twitter.version>1.1.2.RELEASE</spring-social-twitter.version>
<spring-ws.version>2.4.2.RELEASE</spring-ws.version>
<sqlite-jdbc.version>3.15.1</sqlite-jdbc.version>
<statsd-client.version>3.1.0</statsd-client.version>
<sun-mail.version>${javax-mail.version}</sun-mail.version>
<thymeleaf.version>2.1.6.RELEASE</thymeleaf.version>
<thymeleaf-extras-springsecurity4.version>2.1.3.RELEASE</thymeleaf-extras-springsecurity4.version>
<thymeleaf-extras-conditionalcomments.version>2.1.2.RELEASE</thymeleaf-extras-conditionalcomments.version>
<thymeleaf-layout-dialect.version>1.4.0</thymeleaf-layout-dialect.version>
<thymeleaf-extras-data-attribute.version>1.3</thymeleaf-extras-data-attribute.version>
<thymeleaf-extras-java8time.version>2.1.0.RELEASE</thymeleaf-extras-java8time.version>
<tomcat.version>8.5.27</tomcat.version>
<undertow.version>1.4.22.Final</undertow.version>
<unboundid-ldapsdk.version>3.2.1</unboundid-ldapsdk.version>
<webjars-hal-browser.version>9f96c74</webjars-hal-browser.version>
<webjars-locator.version>0.32-1</webjars-locator.version>
<wsdl4j.version>1.6.3</wsdl4j.version>
<xml-apis.version>1.4.01</xml-apis.version>
<!-- Plugin versions -->
<build-helper-maven-plugin.version>1.10</build-helper-maven-plugin.version>
<exec-maven-plugin.version>1.5.0</exec-maven-plugin.version>
<git-commit-id-plugin.version>2.2.3</git-commit-id-plugin.version>
<maven-antrun-plugin.version>1.8</maven-antrun-plugin.version>
<maven-assembly-plugin.version>2.6</maven-assembly-plugin.version>
<maven-clean-plugin.version>2.6.1</maven-clean-plugin.version>
<maven-compiler-plugin.version>3.1</maven-compiler-plugin.version>
<maven-dependency-plugin.version>2.10</maven-dependency-plugin.version>
<maven-deploy-plugin.version>2.8.2</maven-deploy-plugin.version>
<maven-eclipse-plugin.version>2.10</maven-eclipse-plugin.version>
<maven-enforcer-plugin.version>1.4</maven-enforcer-plugin.version>
<maven-failsafe-plugin.version>2.18.1</maven-failsafe-plugin.version>
<maven-install-plugin.version>2.5.2</maven-install-plugin.version>
<maven-invoker-plugin.version>1.10</maven-invoker-plugin.version>
<maven-help-plugin.version>2.2</maven-help-plugin.version>
<maven-jar-plugin.version>2.6</maven-jar-plugin.version>
<maven-javadoc-plugin.version>2.10.4</maven-javadoc-plugin.version>
<maven-resources-plugin.version>2.7</maven-resources-plugin.version>
<maven-shade-plugin.version>2.4.3</maven-shade-plugin.version>
<maven-site-plugin.version>3.5.1</maven-site-plugin.version>
<maven-source-plugin.version>2.4</maven-source-plugin.version>
<maven-surefire-plugin.version>2.18.1</maven-surefire-plugin.version>
<maven-war-plugin.version>2.6</maven-war-plugin.version>
<versions-maven-plugin.version>2.2</versions-maven-plugin.version>